@{
    ViewData["Title"] = "Home Page";
}
<style>
    .HomeImage {
        position: relative;
    }

        .HomeImage img {
            overflow: hidden;
            justify-content: center;
            width: 95%;
            height: auto;
            border-radius: 1%;
        }

        .HomeImage h1 {
            position: absolute;
            top: 3%;
            left: 0%;
            right: 0%;
            color: white;
            font-size: 40px;
            text-shadow: 2px 2px black;
        }
</style>
<div class="text-center">
    <div class="HomeImage">
        <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg" />
        <h1>
            Ресторант „HomeTaste“
        </h1>
    </div>
</div>
