@model RestarauntHomeTaste.Data.Table

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableNumber" class="control-label"></label>
                <input asp-for="TableNumber" class="form-control" />
                <span asp-validation-for="TableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrription" class="control-label"></label>
                <input asp-for="Descrription" class="form-control" />
                <span asp-validation-for="Descrription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorsCount" class="control-label"></label>
                <input asp-for="VisitorsCount" class="form-control" />
                <span asp-validation-for="VisitorsCount" class="text-danger"></span>
            </div>
        @*     <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
